:root {
  --color-white: #f9f9f9;
  --color-yellow: #ffeb3b;
  --color-blue: #1e90ff;
  --color-black: #000000;
  --font-family-title: 'Gochi Hand', cursive;
  --font-family-body: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-white);
}

#app {
  width: 100%;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  margin-bottom: 0;
  padding: 1rem 2rem;
  background-color: var(--color-yellow);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
}

.app-title {
  font-size: 2.4rem;
  color: var(--color-black);
  font-weight: bold;
  font-family: var(--font-family-title);
}

.app-nav {
  display: flex;
  gap: 1rem;
}

.app-button {
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 3rem;
  cursor: pointer;
  font-family: var(--font-family-body);
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button-active {
  background-color: var(--color-blue);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.app-main {
  flex: 1;
  padding: 1rem;
  font-family: var(--font-family-body);
}

.app-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

.section-card {
  background-color: var(--color-yellow);
  border-radius: 2rem;
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-card-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-black);
  font-family: var(--font-family-title);
}

.section-card img {
  max-width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--color-white);
}