:root {
  --color-white: #f9f9f9;
  --color-yellow: #ffeb3b;
  --color-blue: #1e90ff;
  --color-black: #000000;
  --font-family-title: 'Gochi Hand', cursive;
  --font-family-body: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-white);
}

#app {
  width: 100%;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-yellow);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-title {
  font-size: 2rem;
  color: var(--color-black);
  font-family: var(--font-family-title);
  /* Shadow Text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.app-nav {
  display: flex;
  gap: 1rem;
}

.app-button {
  padding: 0.5rem 1rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-family-body);
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button-active {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.app-main {
  flex: 1;
  padding: 2rem;
  font-family: var(--font-family-body);
}

.app-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

.section-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, var(--color-white), var(--color-yellow));   
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 5px 4px 8px rgba(255, 235, 59, 0.5);
}

.section-card:hover {
  box-shadow: 10px 8px 16px rgba(255, 235, 59, 0.9);
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.section-card-title {
  font-size: 2rem;
  font-family: var(--font-family-title);
  color: var(--color-blue);
}

.section-card img {
  width: 80%;
  margin: 0 auto;
}